<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sign In</ion-card-title>
      <ion-card-subtitle>Masukuan NIM dan Password Anda.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item fill="outline">
        <ion-label position="floating">NIM</ion-label>
        <ion-input type="number" placeholder="Masukan NIM"></ion-input>
      </ion-item>
      <br />
      <ion-item fill="outline">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="Password" placeholder="Masukan Password"></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-button color="danger" expand="block">Sign In</ion-button>
    <ion-button expand="full" text ali="left" fill="clear"
      >Daftar Akun</ion-button
    >
  </ion-card>
</ion-content>
