<ion-header>
  <ion-toolbar color="danger">
    <ion-title>E VOTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <ion-button color="danger" fill="outline" expand="full" shape="round">
    <ion-icon name="people-outline"></ion-icon>
    KANDIDAT
  </ion-button>
  <br />
  <ion-button color="danger" fill="outline" expand="full" shape="round">
    <ion-icon name="navigate-outline"></ion-icon>
    VOTE
  </ion-button>
  <br />
  <ion-button color="danger" fill="outline" expand="full" shape="round">
    <ion-icon name="document-text-outline"></ion-icon>
    HASIL
  </ion-button>
  <br />
  <br />
  <br />
  <br />
  <ion-button color="danger" expand="full" shape="round"> KELUAR </ion-button>
</ion-content>
